.app.dark {
    --bg-color: #1b1b1b;
    --inverted-bg-color: #343434;
    --primary-color: #fff;
    --secondary-color: #e4e4e7;
    --text-primary-color: var(--secondary-color);
    --text-secondary-color: var(--primary-color);

}
