:root {
    --bg-color: #fff;
    --inverted-bg-color: #e4e4e7;


    --primary-color: #1b1b1b;
    --secondary-color: #343434;

    --text-primary-color: var(--secondary-color);
    --text-secondary-color: var(--primary-color);
}
