.navbar{
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--inverted-bg-color) ;
    display: flex;
    align-items: center;
    padding: 20px;
}

.links{
    color:  var(--bg-color) ;
    margin-left: auto;
    display: flex;
    gap: 15px;
    align-items: center;
}